body {
    background-image: url("./images/terminal.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 200px;
  }
  p b{
    color: lightsalmon;
}